<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block css %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <li> <a href="{% url 'home' %}" class="text">Suraj.</a></li>
            <ul>
                <li> <a href="{% url 'home' %}">Home</a></li>
                <li> <a href="{% url 'projects' %}">Projects</a></li>
                <li> <a href="{% url 'services' %}">service</a></li>
                <li> <a href="{% url 'blog' %}">Blog</a></li>
                <li> <a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <button id="nav-but"><a href="#"> Let's Talk</a></button>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <div class="footer" style="width: 100vw; height: 400px; background-color: #394867; display: flex; justify-content: space-evenly;">
        <div class="inner-footer" style="width: 30vw; background-color: aliceblue; margin: 50px;">

        </div>
        <div class="inner-footer" style="width: 30vw; background-color: bisque; margin: 50px;">

        </div>
    </div>
</body>
</html>