{% extends 'base.html' %}

{% block css %}
<!-- <link rel="stylesheet" href="/static/css/home.css"> -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block content %}
<style>
    .image-size{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .inner-daa{
        display: flex;
        justify-content: center;
    }
    .in:hover{
        background-color: #e1e7f1;
        cursor: pointer;
    }
    .custom-card {
      width: 500px;
      height: 300px;
      border: 1px solid #ccc;
      position: relative;
    }

    .hover-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }

    .custom-card:hover .hover-overlay {
      opacity: 1;
    }

    .hover-info {
      display: none;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
    }

    .custom-card:hover .hover-info {
      display: block;
    }
    
    .inner1 li,.expertise-p{
        text-align: center;
    }
    .inner1 li{
        list-style: none;
    }
    .img{
        display: flex;
        justify-content: center;
    }
    .img img{
        height: 100px;
        width: 100px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .inner1:hover{
        box-shadow: 0.5px 0.5px 0.5px 0.5px #d0d1d6;
    }
    .skill {
      margin-bottom: 10px;
    }

    .skill-label {
      font-weight: bold;
    }

    .skill-bar {
      background-color: #f1f1f1;
      height: 10px;
      border-radius: 10px;
      position: relative;
    }

    .skill-progress {
      background-color: #394867;
      height: 100%;
      border-radius: 10px;
    }

    .skill-percent {
      position: absolute;
      top: 0;
      left: 10px;
      line-height: 20px;
    }
    .about-back {
        width: 70vw;
        background-color: #e1e7f1;
        height: 700px;
        position: relative;
        border-radius: 0 100px  100px 0;
      }
      .about-center {
        width: 35vw;
        /* background-color: rgb(180, 155, 155); */
        height: 500px;
        position: absolute;
        top: 15%;
        left: 20%;
      }
      .about-right {
        width: 35vw;
        /* background-color: rgb(168, 176, 211); */
        height: 500px;
        position: absolute;
        top: 15%;
        left: 80%;
      }
      
</style>
    <div class="contair" style=" margin-top: 100px;  height: 500px;  background-color: #394867;">
        <div class="inner-container" style="display: flex; justify-content: space-evenly;">
            <div class="inner-data" style="margin: 50px;">
                <img src="/static/images/port.jpg" alt="fanasnf" style=" padding: 15px; width: 300px; height: 300px; border-radius: 50%; border: 2px solid white;">
            </div>
            <div class="inner-data" style=" color:white; font-size: 30px; margin-top: 150px; margin-right: 50px; font-family: monospace">
                <p style="text-shadow: 3px 3px #595f6b;">My Name is Suraj Rajbanshi</p>
                <p style="text-shadow: 3px 3px #595f6b;">Backend Django Developer</p>
                <p style="text-shadow: 3px 3px #595f6b;">With Django Rest Api</p>
            </div>
        </div>
        <div class="datas" style="display: flex; justify-content: space-evenly; color: white; font-family: sans-serif; font-size: 20px;">
            <div class="inner-datas" style="text-align: center;">
                <p><u>Phone Number </u></p>
                <p>981904xxxx, 980703xxxx</p>
            </div>
            <div class="inner-datas" style="text-align: center;">
                <p><a href="{% url 'contact' %}" style="color: white;">Drop your Message</a></p>
                <p>rajbanshisuraj11@gmail.com</p>
            </div>

        </div>
    </div>
    <div class="expertise" style="height: 800px;">
        <p class="expertise-p" style="font-size: 40px; margin: 70px;">My Expertise</p>
        <div class="inner-expertise" style="margin: 50px;">
            <div class="inside" style="display: flex; justify-content: center;">
                   <div class="inner1" style="background-color: #e1e7f1; width: 500px; height: 300px; margin: 0.5px; ">
                    <div class="img">
                    <img src="/static/images/coding.png" alt="">    
                    </div>
                    <p class="expertise-p">Proficiency in one or more <br>
                        backend programming languages, <br>
                        such as: Python (Django), JavaScript</p>
                    </div>
                   <div class="inner1" style="background-color: #e1e7f1; width: 500px; height: 300px; margin: 0.5px;">
                    <div class="img">
                    <img src="/static/images/frame.png" alt="">                                                  
                    </div>
                    <p class="expertise-p">Strong understanding and experience <br>
                        with backend frameworks that facilitate <br>
                        web application development, handling HTTP requests,<br>
                        routing, and data manipulation.</p>
                    </div>
            </div>
            <div class="inside" style="display: flex; justify-content: center;">
                   <div class="inner1" style="background-color: #e1e7f1; width: 500px; height: 300px; margin: 0.5px;">
                    <div class="img">
                    <img src="/static/images/db.png" alt="">          
                    </div>
                    <p class="expertise-p">Knowledge of relational databases <br>
                       (e.g., MySQL, PostgreSQL) and <br>
                        NoSQL databases (e.g., MongoDB),<br>
                        including how to interact with them,<br>
                        design schemas, and optimize queries.</p>
                    </div>
                   <div class="inner1" style="background-color: #e1e7f1; width: 500px; height: 300px; margin: 0.5px;">
                    <div class="img">
                    <img src="/static/images/api.png" alt="">          
                    </div>
                    <p class="expertise-p">Creating and consuming APIs <br>
                        (Application Programming Interfaces) <br>
                        to enable communication between <br>
                        the frontend and backend systems <br>
                        or between different services.</p>
                    </div>
            </div>
        </div>
    </div>
    <div class="works" style="height: 900px;">
        <p class="expertise-p" style="font-size: 40px; margin: 70px;">My Works</p>
        <div class="inner-expertise" style="margin: 50px;">
            <div class="inside" style="display: grid; grid-template-columns: auto auto; gap: 10px; justify-content: center;">
                <div class="container ">
                    <div class="card custom-card">
                      <div class="card-body" style="background-image: url('/static/images/web.jpg'); background-size: cover;">
                        
                      </div>
                      <!-- Semi-transparent overlay with hover text -->
                      <div class="hover-overlay">
                        <div class="hover-info">
                          <b>Web Development</b><br>
                          User friendly web sites are developed <br>
                          with good performance
                        </div>
                      </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card custom-card">
                      <div class="card-body" style="background-image: url('/static/images/ecommerce.jpg'); background-size: cover; background-position: center;">
                       
                      </div>
                      <!-- Semi-transparent overlay with hover text -->
                      <div class="hover-overlay">
                        <div class="hover-info">
                            <b>Ecommerce Website</b><br>
                            Dynamic as well as Static  <br>
                            websites are developed <br>
                            with good quality                                 
                        </div>
                      </div>
                    </div>
                </div>
            
            <div class="container ">
                <div class="card custom-card">
                    <div class="card-body" style="background-image: url('/static/images/school.jpg'); background-size: cover; background-position: center;">
                  </div>
                  <!-- Semi-transparent overlay with hover text -->
                  <div class="hover-overlay">
                    <div class="hover-info">
                        <b>School Management System</b><br>
                        Web based school management system<br>
                        are developed
                    </div>
                  </div>
                </div>
            </div>
            <div class="container">
                <div class="card custom-card">
                    <div class="card-body" style="background-image: url('/static/images/hospital.jpg'); background-size: cover; background-position: center;">
                  </div>
                  <!-- Semi-transparent overlay with hover text -->
                  <div class="hover-overlay">
                    <div class="hover-info">
                        <b>Hospital Management System</b><br>
                        Web based hospital management system<br>
                        are developed
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="button" style="display: flex; justify-content: center;">
            <button style="margin-top: 30px; border-radius: 50px;  background-color: #51596b;  width: 200px; height: 50px; border-top-color: chartreuse; border-right-color: springgreen; border-left-color: aqua; border-bottom-color: crimson;"><a href="{% url 'projects' %}" style="text-decoration: none; font-size: 20px; color: white;">More Work</a></button>
        </div>
    </div>
    <!-- <div class="about" style="height: 800px; margin-top: 20px;"> -->
        <!-- <div class="faded-color" style=" background-color: #e1e7f1; display: flex; height: 700px; width: 70vw; border-top-right-radius: 100px; border-bottom-right-radius: 100px;">
        </div>        -->
        <!-- <p style="font-size: 40px; margin: 50px;">About Me</p>
        <div class="inner-about" >
           <div class="entire" style="display: flex; justify-content: center;">
            <div class="left" style="width: 35vw; margin-right: 40px;">
                <p>Enthusiastic and motivated Computer Science graduate with 
                    a strong passion for web development and a keen interest 
                    in Backend Django development. Eager to contribute my skills
                    and knowledge to a dynamic team and gain practical experience
                    in building robust web applications using Django.</p>
                <br>   
                <h4><u>Education</u></h4>
                <div class="edu"> 
                    <p style="text-align: start;">Bachelor - Bsc CSIT (2018 A.D. - Ongoing)</p>
                    <p style="text-align: start;">+2 - Science (2016 A.D -2018 A.D) (3.01 CGPA)</p>
                    <p style="text-align: start;">SLC (2016 A.D) (3.45 CGPA)</p>
                </div>
            </div>
            <div class="right" style="width: 35vw; margin-left: 40px;">

                <div class="skill">
                  <span class="skill-label">HTML:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 80%;"></div>
                  </div>
                  <span class="skill-percent">80%</span>
                </div>
              
                <div class="skill">
                  <span class="skill-label">CSS:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 70%;"></div>
                  </div>
                  <span class="skill-percent">70%</span>
                </div>
              
                <div class="skill">
                  <span class="skill-label">JavaScript:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 40%;"></div>
                  </div>
                  <span class="skill-percent">40%</span>
                </div>
                <div class="skill">
                  <span class="skill-label">Python:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 70%;"></div>
                  </div>
                  <span class="skill-percent">70%</span>
                </div>
                <div class="skill">
                  <span class="skill-label">Django:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 80%;"></div>
                  </div>
                  <span class="skill-percent">80%</span>
                </div>
                <div class="skill">
                  <span class="skill-label">Django Rest Framework:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 60%;"></div>
                  </div>
                  <span class="skill-percent">60%</span>
                </div>
                <div class="skill">
                  <span class="skill-label">PostgreSql:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 70%;"></div>
                  </div>
                  <span class="skill-percent">70%</span>
                </div>
                <div class="skill">
                  <span class="skill-label">MySql:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 70%;"></div>
                  </div>
                  <span class="skill-percent">70%</span>
                </div>
                <div class="skill">
                  <span class="skill-label">git/github:</span>
                  <div class="skill-bar">
                    <div class="skill-progress" style="width: 60%;"></div>
                  </div>
                  <span class="skill-percent">60%</span>
                </div>
              
            </div>
           </div>
        </div>
    </div> -->
  
    <div class="about" style="margin-top: 50px;">
      <div class="about-back">
        <p style="font-size: 40px;padding:  30px; padding-left: 45vw;">About Me</p>
        <div class="about-center">
          <p style="text-align: center;">Enthusiastic and motivated Computer Science graduate with 
            a strong passion for web development and a keen interest 
            in Backend Django development. Eager to contribute my skills
            and knowledge to a dynamic team and gain practical experience
            in building robust web applications using Django.</p>
        <br>   
        <h4 style="text-align: center;"><u>Education</u></h4>
        <div class="edu"> 
            <p style="text-align: center;">Bachelor - Bsc CSIT (2018 A.D. - Ongoing)</p>
            <p style="text-align: center;">+2 - Science (2016 A.D -2018 A.D) (3.01 CGPA)</p>
            <p style="text-align: center;">SLC (2016 A.D) (3.45 CGPA)</p>
        </div>
        <div class="experience">
          <h4  style="text-align: center;"><u>Experience</u></h4>
          <p style="text-align: center;"><a href="https://www.cagtunepal.com/" style=" color:#0a317e;" target="_blank">Cagtu Nepal </a> - Backend (Django) Intern  2023/05/15- ongoing</p>
        </div>
        </div>

        <div class="about-right">
        
            <div class="skill">
              <span class="skill-label">HTML:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 80%;"></div>
              </div>
            </div>
          
            <div class="skill">
              <span class="skill-label">CSS:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 70%;"></div>
              </div>
            </div>
          
            <div class="skill">
              <span class="skill-label">JavaScript:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 40%;"></div>
              </div>
            </div>
            
            <div class="skill">
              <span class="skill-label">Python:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 70%;"></div>
              </div>
            </div>
            
            <div class="skill">
              <span class="skill-label">Django:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 80%;"></div>
              </div>
            </div>
            
            <div class="skill">
              <span class="skill-label">Django Rest Framework:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 60%;"></div>
              </div>
            </div>
            
            <div class="skill">
              <span class="skill-label">PostgreSql:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 70%;"></div>
              </div>
            </div>
            
            <div class="skill">
              <span class="skill-label">MySql:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 70%;"></div>
              </div>
            </div>
            
            <div class="skill">
              <span class="skill-label">git/github:</span>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 60%;"></div>
              </div>
            </div>

        </div>
    </div>
      
  </div>

    <div class="client" style="height: 500px;">
        <p style="font-size: 40px; margin: 70px; text-align: center;">Client Testimonials</p>
        <div class="inside-client" style="display: flex; justify-content: center;">
            <div class="inside-inclient" style="background-color: #e1e7f1; width: 60vw; height: 300px; border-radius: 20px;">
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p style="margin: 50px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, porro! Cumque odit doloribus nisi, et dolore eligendi molestias obcaecati inventore? Ab iure architecto provident soluta totam voluptatem, quo rerum molestias?</p>
                        <div class="inner-daa">
                            <img src="/static/images/1.jpg" alt="Los Angeles" class="d-block  image-size">
                        </div>
                        </div>
                        <div class="carousel-item">
                            <p style="margin: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quam sint dignissimos ipsam corrupti asperiores soluta, ratione molestiae illum distinctio esse aliquid a aut magnam ipsum eveniet velit commodi.</p>
                        <div class="inner-daa">
                            <img src="/static/images/2.jpg" alt="Chicago" class="d-block image-size">
                        </div>
                        </div>
                        <div class="carousel-item">
                            <p style="margin: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quam sint dignissimos ipsam corrupti asperiores soluta, ratione molestiae illum distinctio esse aliquid a aut magnam ipsum eveniet velit commodi.</p>
                        <div class="inner-daa">
                            <img src="/static/images/3.jpg" alt="New York" class="d-block image-size">
                        </div>
                        </div>
                        <div class="carousel-item">
                            <p style="margin: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quam sint dignissimos ipsam corrupti asperiores soluta, ratione molestiae illum distinctio esse aliquid a aut magnam ipsum eveniet velit commodi.</p>
                        <div class="inner-daa">
                            <img src="/static/images/4.jpg" alt="New York" class="d-block image-size">
                        </div>
                        </div>
                        <div class="carousel-item">
                            <p style="margin: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quam sint dignissimos ipsam corrupti asperiores soluta, ratione molestiae illum distinctio esse aliquid a aut magnam ipsum eveniet velit commodi.</p>
                        <div class="inner-daa">
                            <img src="/static/images/5.jpg" alt="New York" class="d-block image-size">
                        </div>
                        </div>
                        <div class="carousel-item">
                            <p style="margin: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quam sint dignissimos ipsam corrupti asperiores soluta, ratione molestiae illum distinctio esse aliquid a aut magnam ipsum eveniet velit commodi.</p>
                        <div class="inner-daa">
                            <img src="/static/images/6.jpg" alt="New York" class="d-block image-size">
                        </div>
                        </div>
                    </div>

                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                    </div>
            </div>
        </div>
    </div>

   

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

   

{% endblock %}