{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}
    <div class="container" style="  height: 500px;  background-color: #6c7b99;">
        <div class="inner-container" style="display: flex; justify-content: space-evenly;">
            <div class="inner-data" style="margin: 50px;">
                <img src="/static/images/port.jpg" alt="fanasnf" style=" padding: 15px; width: 300px; height: 300px; border-radius: 50%; border: 2px solid white;">
            </div>
            <div class="inner-data" style=" color:white; font-size: 25px; margin-top: 150px; margin-right: 50px; font-family: sans-serif">
                <p>My Name is Suraj Rajbanshi</p>
                <p>Backend Django Developer</p>
            </div>
        </div>
        <div class="datas" style="display: flex; justify-content: space-evenly; color: white; font-family: sans-serif; font-size: 20px;">
            <div class="inner-datas" style="text-align: center;">
                <p><u>Phone Number </u></p>
                <p>9819042017, 9807038806</p>
            </div>
            <div class="inner-datas" style="text-align: center;">
                <p><u>Drop your Message</u></p>
                <p>rajbanshisuraj11@gmail.com</p>
            </div>

        </div>
    </div>
    <div class="expertise" style="height: 800px;">
        <p style="font-size: 40px; margin: 70px;">My Expertise</p>
        <div class="inner-expertise" style="margin: 50px;">
            <div class="inside" style="display: flex; justify-content: center;">
                <div class="in" style="background-color: #6c7b99; height: 300px; width: 500px;">

                </div>
              
                <div class="in" style="background-color: #3a3a3b; height: 300px; width: 500px;">
    
                </div>
            </div>
            <div class="inside" style="display: flex; justify-content: center;">
                <div class="in" style="background-color: #0b0d11; height: 300px; width: 500px;">

                </div>
                
                <div class="in" style="background-color: #1058e7; height: 300px; width: 500px;">
    
                </div>
            </div>
        </div>
    </div>
    <div class="works" style="height: 800px;">
        <p style="font-size: 40px; margin: 70px;">My Works</p>
        <div class="inner-expertise" style="margin: 50px;">
            <div class="inside" style="display: flex; justify-content: center;">
                <div class="in" style="background-color: #6c7b99; height: 300px; width: 500px;">

                </div>
              
                <div class="in" style="background-color: #3a3a3b; height: 300px; width: 500px;">
    
                </div>
            </div>
            <div class="inside" style="display: flex; justify-content: center;">
                <div class="in" style="background-color: #0b0d11; height: 300px; width: 500px;">

                </div>
                
                <div class="in" style="background-color: #1058e7; height: 300px; width: 500px;">
    
                </div>
            </div>
        </div>
        <div class="button" style="display: flex; justify-content: center;">
            <button style="border-radius: 50px; background-color: #394867;  width: 200px; height: 50px;"><a href="#" style="text-decoration: none; font-size: 20px; color: white;">More Work</a></button>
        </div>
    </div>
    <div class="about" style="height: 800px; margin-top: 100px;">
        <div class="faded-color" style="background-color: #e1e7f1; height: 700px; width: 70vw; border-top-right-radius: 100px; border-bottom-right-radius: 100px;">

        </div>
    </div>
    <div class="client" style="height: 500px;">
        <p style="font-size: 40px; margin: 70px; text-align: center;">Client Testimonials</p>
        <div class="inside-client" style="display: flex; justify-content: center;">
            <div class="inside-inclient" style="background-color: #e1e7f1; width: 60vw; height: 300px; border-radius: 20px;">

            </div>
        </div>
    </div>
{% endblock %}